@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
}

h1{
  font-size: 50px;
}

button{
  cursor: pointer;
}

input {
  margin-top: 1rem;
}

input::file-selector-button {
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.upload-container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}






